mecab.tar.gz filter=lfs diff=lfs merge=lfs -text
mecab-ko-dic/VX.csv filter=lfs diff=lfs merge=lfs -text
mecab-ko-dic/J.csv filter=lfs diff=lfs merge=lfs -text
mecab-ko-dic/NEWS filter=lfs diff=lfs merge=lfs -text
mecab-ko-dic/NR.csv filter=lfs diff=lfs merge=lfs -text
mecab-ko-dic/XSA.csv filter=lfs diff=lfs merge=lfs -text
mecab-ko-dic/model.def filter=lfs diff=lfs merge=lfs -text
mecab-ko-dic/COPYING filter=lfs diff=lfs merge=lfs -text
mecab-ko-dic/INSTALL filter=lfs diff=lfs merge=lfs -text
mecab-ko-dic/clean filter=lfs diff=lfs merge=lfs -text
mecab-ko-dic/VV.csv filter=lfs diff=lfs merge=lfs -text
mecab-ko-dic/XPN.csv filter=lfs diff=lfs merge=lfs -text
mecab-ko-dic/tools filter=lfs diff=lfs merge=lfs -text
mecab-ko-dic/NNG.csv filter=lfs diff=lfs merge=lfs -text
mecab-ko-dic/matrix.def filter=lfs diff=lfs merge=lfs -text
mecab-ko-dic/AUTHORS filter=lfs diff=lfs merge=lfs -text
mecab-ko-dic/CoinedWord.csv filter=lfs diff=lfs merge=lfs -text
mecab-ko-dic/EC.csv filter=lfs diff=lfs merge=lfs -text
mecab-ko-dic/Wikipedia.csv filter=lfs diff=lfs merge=lfs -text
mecab-ko-dic/rewrite.def filter=lfs diff=lfs merge=lfs -text
mecab-ko-dic/ETN.csv filter=lfs diff=lfs merge=lfs -text
mecab-ko-dic/Makefile.am filter=lfs diff=lfs merge=lfs -text
mecab-ko-dic/NP.csv filter=lfs diff=lfs merge=lfs -text
mecab-ko-dic/missing filter=lfs diff=lfs merge=lfs -text
mecab-ko-dic/MM.csv filter=lfs diff=lfs merge=lfs -text
mecab-ko-dic/char.def filter=lfs diff=lfs merge=lfs -text
mecab-ko-dic/feature.def filter=lfs diff=lfs merge=lfs -text
mecab-ko-dic/Symbol.csv filter=lfs diff=lfs merge=lfs -text
mecab-ko-dic/VCP.csv filter=lfs diff=lfs merge=lfs -text
mecab-ko-dic/dicrc filter=lfs diff=lfs merge=lfs -text
mecab-ko-dic/EF.csv filter=lfs diff=lfs merge=lfs -text
mecab-ko-dic/Person-actor.csv filter=lfs diff=lfs merge=lfs -text
mecab-ko-dic/XSV.csv filter=lfs diff=lfs merge=lfs -text
mecab-ko-dic/ETM.csv filter=lfs diff=lfs merge=lfs -text
mecab-ko-dic/Inflect.csv filter=lfs diff=lfs merge=lfs -text
mecab-ko-dic/Preanalysis.csv filter=lfs diff=lfs merge=lfs -text
mecab-ko-dic/pos-id.def filter=lfs diff=lfs merge=lfs -text
mecab-ko-dic/unk.def filter=lfs diff=lfs merge=lfs -text
mecab-ko-dic/NNB.csv filter=lfs diff=lfs merge=lfs -text
mecab-ko-dic/NorthKorea.csv filter=lfs diff=lfs merge=lfs -text
mecab-ko-dic/Place-address.csv filter=lfs diff=lfs merge=lfs -text
mecab-ko-dic/XR.csv filter=lfs diff=lfs merge=lfs -text
mecab-ko-dic/autogen.sh filter=lfs diff=lfs merge=lfs -text
mecab-ko-dic/EP.csv filter=lfs diff=lfs merge=lfs -text
mecab-ko-dic/Foreign.csv filter=lfs diff=lfs merge=lfs -text
mecab-ko-dic/Hanja.csv filter=lfs diff=lfs merge=lfs -text
mecab-ko-dic/Place.csv filter=lfs diff=lfs merge=lfs -text
mecab-ko-dic/VCN.csv filter=lfs diff=lfs merge=lfs -text
mecab-ko-dic/XSN.csv filter=lfs diff=lfs merge=lfs -text
mecab-ko-dic/configure filter=lfs diff=lfs merge=lfs -text
mecab-ko-dic/left-id.def filter=lfs diff=lfs merge=lfs -text
mecab-ko-dic/user-dic filter=lfs diff=lfs merge=lfs -text
mecab-ko-dic/MAG.csv filter=lfs diff=lfs merge=lfs -text
mecab-ko-dic/Makefile.in filter=lfs diff=lfs merge=lfs -text
mecab-ko-dic/Person.csv filter=lfs diff=lfs merge=lfs -text
mecab-ko-dic/install-sh filter=lfs diff=lfs merge=lfs -text
mecab-ko-dic/NNBC.csv filter=lfs diff=lfs merge=lfs -text
mecab-ko-dic/Place-station.csv filter=lfs diff=lfs merge=lfs -text
mecab-ko-dic/VA.csv filter=lfs diff=lfs merge=lfs -text
mecab-ko-dic/MAJ.csv filter=lfs diff=lfs merge=lfs -text
mecab-ko-dic/NNP.csv filter=lfs diff=lfs merge=lfs -text
mecab-ko-dic/README filter=lfs diff=lfs merge=lfs -text
mecab-ko-dic/configure.ac filter=lfs diff=lfs merge=lfs -text
mecab-ko-dic/right-id.def filter=lfs diff=lfs merge=lfs -text
mecab-ko-dic/ChangeLog filter=lfs diff=lfs merge=lfs -text
mecab-ko-dic/Group.csv filter=lfs diff=lfs merge=lfs -text
mecab-ko-dic/IC.csv filter=lfs diff=lfs merge=lfs -text
